@model IEnumerable< Models.EF.NhaXuatBan>

@{
    ViewBag.Title = "Index";
}

<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop"></i>Quản lý nhà xuất bản</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Trang chủ</a></li>
                    <li><i class="fa fa-laptop"></i>Quản lý nhà xuất bản</li>
                </ol>
            </div>
        </div>

        <p>
            @Html.ActionLink("Thêm nhà xuất bản", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenNXB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SDT)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNXB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaNXB }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MaNXB }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaNXB })
                    </td>
                </tr>
            }

        </table>
    </section>
    <div class="text-right">
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</section>
